/*COLOR REFERENCES
off-white     #FAF4F4 rgb(250, 248, 248)
off-black     #191A1C rgb(25,26,28)
dark green    rgb(25,26,28)
light green   rgb(149,169,156)
*/



body{
	/*background*/
	background-image: url(images/sky_bg.png);
	background-repeat: repeat;
	background-size: 100%;
	/*standard text*/
	color: #FAF4F4;
	font-family: 'Carrois Gothic SC', sans-serif;
	}

  div{
  	border-radius: 10px;
 	 }
	.shell{
		text-align: center;
		}

	.greenbox {
		background-color: rgba(25,26,28,0.8);
		margin: 2% 10%;
		box-shadow: 1px 1px 4px rgba(250, 248, 248, 0.4);
		}
	.button{
		background-color: rgba(39,61,59,0.5);
		margin: 20px 5% 0px 5%;
		padding: 10px;
		color: rgb(250, 248, 248);
		text-emphasis: none;
		/*max-width: 300px;*/}
	.button:hover{
		background-color: rgba(149,169,156,0.5);
		color:#191A1C;
		}
	.standard{
		background-color: rgba(25,26,28,0.8);
		margin: 5px 10%;
		box-shadow: 1px 1px 4px rgba(250, 248, 248, 0.4);
		}
	.nutshell {
		text-decoration: none;
		font-size: 30px;
	}

  ul{
  	list-style: none;
  	display: inline-flex;
  	padding-left: 0px;
  	padding-bottom: 20px;
  	font-size: 50px;
  	margin: 10px;
  	text-align: center;
    }
    .socialicons{
  	color: rgb(250, 248, 248);
	margin: 30px 30px;
 	}
 	a{color: rgb(250, 248, 248);
 	}
 	a:hover {
    		text-shadow: 1px 1px 15px rgba(250, 248, 248, 0.8);

    	}


  p{
  	padding-bottom: 15px;
  	margin: 2px auto 5px auto;
  	}

	.handwritten{
		font-family: 'Hurricane', cursive;
		font-size: 30px;
		letter-spacing: 1.5px;
		margin: 0px;
		padding-bottom: 0px;
		}
  h1{
  	padding: 10px;
  	font-size: 20px;
  	margin: 10px auto;
  	text-decoration:underline;
	}
  h2{ 
  	padding: 10px;
  	font-size: 15px;
  	margin: 10px auto;
    }


img{
	width: 300px;
  	border-radius: 50px
  	opacity: 90%;
  	}

img:hover{
	transition: transform .2s;
	transform: scale(1.2);
}

@media (max-width: 900px) {
	.greenbox{
		margin: 2% 2%;
	}
	.standard{
		margin: 2% 2%;
	}
}



